<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body>
    <div class="container">
		<h2> {{englishTitle}} </h2>
		<h2>{{tibetanTitle}}</h2><br><br><br>
        <div class="row">
            <div class="col-md-5">
				<div class="options-containers">
					<button (click)="this.showRandomWord();" (keyup.right)="this.showRandomWord();" 
					class="next-icon btn btn-outline-primary" (keydown)="move($event)"
					id="next-word-btn" type="button">
						<img class="dancing-lady" src="../assets/dancing-person.png">
						<h4 style="display:inline; position: relative; right: 43px;"> Next word </h4>
					</button><br><br>
					<button type="button" class="btn btn-outline-primary" (click)="this.toggleFrontCard()">
						{{frontCard}} 
					</button><br><br>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						{{showVocabListText}}
					</button>
					<div class="collapse" id="collapseExample">
						<div class="card card-body overflow-auto vocab-table-cont">
							<app-vocab-table></app-vocab-table>
						</div>
					</div><br><br>
				</div>
            </div>
            <div class="col-md-6">
				<div class = "card-container">
					<div class="flip-card">
						<div class="flip-card-inner">
							<div [ngClass]="this.showTibetan? 'flip-card-front' : 'flip-card-back'">
								<h2 class="card-title"> {{vocabName}}</h2>
								<h4 class="card-subtitle text-muted"> {{vocabAltnames}} </h4>
							</div>
							<div [ngClass]="!this.showTibetan ? 'flip-card-front' : 'flip-card-back'">
								<h4 class="card-definition"> {{vocabMeaning}}</h4>
							</div>
						</div>
					</div>
				<!-- TODO: look into algorithms for randomizing words and increasing probabilities for some
				<button class="btn btn-outline-warning"
				(click)="this.vocabListDataService.removeWord(this.vocabName)"> EASY </button>
				<button class="btn btn-outline-warning"> YIKES </button> -->
				</div>
			</div>
        </div>   
    </div>
  </body>
</html>
